{% if section.settings.enable_section %}
  <div
    class="press-notes grid"
    id="press-notes-section"
  >
    <div class="grid-sizer"></div>
    {% for press_note in section.blocks %}
      {% render 'press-note',
        press_note_source: press_note.settings.press_note_source,
        press_note_source_link: press_note.settings.press_note_source_link,
        press_note_logo: press_note.settings.press_note_logo,
        press_note_text: press_note.settings.press_note_text,
        press_note_date: press_note.settings.press_note_date,
        press_note_product: press_note.settings.press_note_product
      %}
    {% endfor %}
  </div>
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
{% endif %}

{% style %}
  .press-notes {
    background-color: #ececec;
  }
  .press-note {
    padding: 1rem;
    margin-bottom: 1rem;
    width: calc(25%);
    flex-grow: 1;
  }
  .press-note-container {
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;
  }

  .grid-sizer {
    width: calc(25%);
  }

  @media screen and (min-width: 1625px) {
    .grid-sizer {
      width: calc(20%);
    }
    .press-note {
      width: calc(20%);
    }
  }

  @media screen and (max-width: 1050px) {
    .grid-sizer {
      width: calc(33.33%);
    }
    .press-note {
      width: calc(33.33%);
    }
  }

  @media screen and (max-width: 900px) {
    .grid-sizer {
      width: calc(50%);
    }
    .press-note {
      width: calc(50%);
    }
  }

  @media screen and (max-width: 480px) {
    .grid-sizer {
      width: calc(100%);
    }
    .press-note {
      width: calc(100%);
    }
  }

  .press-note-source-logo {
    margin-bottom: 2rem;
  }
  .press-note-source-logo img {
    width: 100%;
    max-width: 300px;
    height: auto;
  }
  .press-note-source-name {
    text-transform: uppercase;
  }
  .press-note-product-name a {
    font-size: 2rem;
    color: rgb(var(--color-link));
    text-decoration: none;
  }
  .press-note-product-name a:hover {
    text-decoration: underline;
  }
  .press-note-product-image img {
    max-width: 100%;
    height: auto;
  }
{% endstyle %}

{% javascript %}
  const elem = document.querySelector('.grid.press-notes');
  const msnry = new Masonry(elem, {
    // options
    columnWidth: '.grid-sizer',
    // do not use .grid-sizer in layout
    itemSelector: '.grid-item',
    percentPosition: true,
    horizontalOrder: true,
  });
{% endjavascript %}

{% schema %}
{
  "name": "t:sections.press_page.title",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_section",
      "label": "t:sections.press_page.enable_section",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "press_note",
      "name": "t:sections.press_page.blocks.add_press_note.label",
      "settings": [
        {
          "type": "text",
          "id": "press_note_source",
          "label": "t:sections.press_page.blocks.press_note_source.label"
        },
        {
          "type": "text",
          "id": "press_note_source_link",
          "label": "t:sections.press_page.blocks.press_note_source_link.label"
        },
        {
          "type": "image_picker",
          "id": "press_note_logo",
          "label": "t:sections.press_page.blocks.press_note_logo.label"
        },
        {
          "type": "textarea",
          "id": "press_note_text",
          "label": "t:sections.press_page.blocks.press_note_text.label"
        },
        {
          "type": "text",
          "id": "press_note_date",
          "label": "t:sections.press_page.blocks.press_note_date.label"
        },
        {
          "type": "product",
          "id": "press_note_product",
          "label": "t:sections.press_page.blocks.press_note_product.label"
        }
      ]
    }
  ]
}
{% endschema %}
