.card__content h3 {
	font-size: 14.85px;
  min-height: 35px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: rgb(85, 85, 85);
}

.rating-star {
	--color-rating-star: rgb(84, 117, 43);
	font-size: 22px;
	-webkit-font-smoothing: antialiased;
	letter-spacing: 2px;
}

.card-information {
	display: flex;
	flex-direction: column;
}

.quick-add__submit span {
	text-transform: uppercase;
}

.rating-count.caption span {
	font-size: 13px;
}

.price__container span {
	font-size: 13px;
}

.mini_badge {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1000;
}

/* mobile */

@media screen and (max-width: 700px) {
.card__content h3 {
	font-weight: 700;
}
}
