.desktop-collapsible-metafields.mobile-exclusive {
    display: none;
}
.badge-images-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	display: flex;
		flex-direction: column;
}

.badge-images-wrapper img {
	width: 100px;
	margin: 10px auto;
	}
	
	.accordion {
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
		border-top: 1px solid #939393 !important;
		border-bottom: 1px solid #939393 !important;
	}
	
	.accordion__title {
		letter-spacing: 3px;
		text-transform: uppercase;
}

/* Mobile */
@media screen and (max-width: 749px) {
    .mobile-collapsible-metafields {
        display: block;
    }

    .desktop-collapsible-metafields {
        display: none;
    }

    .accordion__content p {
        max-width: 100%;
    }

    .product__description {
        display: none;
    }

    .product__title {
        margin-bottom: 0;
    }

    .product__title h1 {
        font-weight: 700;
        text-transform: uppercase;
        text-align: left;
        font-size: 15px;
        margin-bottom: 7.5px;
        letter-spacing: 3px;
    }

    .shopify-app-block {
        margin: 0px auto !important;
    }

    .jdgm-prev-badge {
        display: flex !important;
        flex-direction: column;
        justify-content: center !important;
    }

    .jdgm-prev-badge__stars,
    .jdgm-prev-badge__text {
        display: flex;
        justify-content: center;
    }

    .price-item--regular {
        color: #939393;
    }
}

/* Desktop */
@media screen and (min-width: 750px) {
    .product--large:not(.product--no-media) .product__media-wrapper {
        max-width: 50% !important;
    }

    .product--large:not(.product--no-media) .product__info-wrapper {
        max-width: 50% !important;
    }

    media-gallery {
        display: flex;
        flex-direction: row-reverse;
    }

    .slider-mobile-gutter {
        width: 92%;
    }

    .thumbnail-slider {
        width: 8% !important;
    }

    .thumbnail-list {
        grid-template-columns: 1fr !important;
    }

    .product__description p video {
        max-width: 100% !important;
    }

    .mobile-collapsible-metafields {
        display: none;
    }

    .desktop-collapsible-metafields {
        display: block;
    }

    .mobile-exclusive {
        display: none;
    }

    .share-buttons-wrapper {
        display: flex;
        justify-content: space-between;
    }
}