.footer {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  border-top: 0.1rem solid rgba(var(--color-foreground), 0.08);
  padding: 0 calc(2rem / var(--font-body-scale)) 80px;
}

.footer:not(.color-scheme-1) {
  border-top: none;
}

@media screen and (min-width: 750px){
  .footer {
    padding-bottom: 30px;
  }
}

.footer--menus__desktop{
  display: none;

}

.footer__blocks-wrapper{
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1025px) {
  .footer__blocks-wrapper {
    flex-direction: row;
    margin: 0;
    width: 100%;
    max-width: none;
  }
}

.footer__blocks-wrapper svg {
  height: 1.1rem;
  position: relative;
}

.footer__blocks-wrapper > details[open] svg {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.footer__blocks-wrapper > :not(details[open]) svg {
  transition: transform 0.3s ease;
}

.footer-block{
  width: 100%;
  border-top: currentColor 1px solid;
}

.footer-block:empty {
  display: none;
}

@media screen and (max-width: 749px) {
  .footer-block.footer-block--menu:only-child {
    text-align: left;
  }
}

@media screen and (min-width: 750px) {
  .footer-block {
    display: block;
    margin-top: 0;
  }
}

@media screen and (min-width: 1025px) {
  .footer-block {
    border: none;
    margin-top: 2rem;
  }
}

.footer-block__heading {
  font-size: calc(var(--font-heading-scale) * 2rem);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 1025px) {
  .footer-block__heading {
    justify-content: center;
    font-size: calc(var(--font-heading-scale) * 1.8rem);
    font-weight: 600;
    text-align: center;
  }
}

.footer-block--newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem auto 0;
  gap: 3rem;
  max-width: 400px;
}

.footer-block--newsletter:only-child {
  margin-top: 0;
}

.footer-block--newsletter button {
  margin-top: 3rem;
}

.footer-block--newsletter input {
  color: currentColor;
}

.footer__follow-on-shop {
  display: flex;
  text-align: center;
}

.footer__list-social:empty,
.footer-block--newsletter:empty {
  display: none;
}

.footer__list-social a{
  color: currentColor;
}

.footer__list-social svg {
  width: 3rem !important;
  height: 3rem !important;
}

.footer-block__newsletter {
  text-align: center;
  flex-grow: 1;
}

.footer-block__newsletter h2{
  color: currentColor;
  font-size: calc(var(--font-heading-scale) * 1.8rem);
}

.newsletter-form__field-wrapper {
  max-width: 36rem;
}

@media screen and (min-width: 750px) {
  /* Pushes other components to the right of the flexbox */
  .footer-block__newsletter:not(:only-child) {
    text-align: left;
    margin-right: auto;
  }

  .footer-block__newsletter:not(:only-child) .footer__newsletter {
    justify-content: flex-start;
    margin: 0;
  }

  .footer-block__newsletter:not(:only-child) .newsletter-form__message--success {
    left: auto;
  }

  .footer__follow-on-shop {
    margin-bottom: 0.4rem;
  }
  /* Follow on shop is the first button but it has siblings*/
  .footer__follow-on-shop:first-child:not(:last-child) {
    justify-content: flex-start;
    margin-right: auto;
    text-align: left;
  }

  /*
    All three components are present, email, Follow on Shop, and social icons.
    Moves the FoS button next to the social icons so they appear grouped together
  */
  .footer__follow-on-shop:not(:first-child):not(:last-child) {
    justify-content: flex-end;
    text-align: right;
  }
}

@media screen and (max-width: 749px) {
  /*
    On a small screen we want all the items to be centered
    because they will be stacked.
   */
  .footer-block--newsletter {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    align-items: center;
    gap: 3rem;
  }

  .footer__list-social.list-social,
  .footer__follow-on-shop,
  .footer-block__newsletter {
    display: flex;
    justify-content: center;
  }

  .footer-block__newsletter {
    flex-direction: column;
  }
}

@media screen and (min-width: 750px) {
  .footer-block__newsletter + .footer__list-social {
    margin-top: 0;
  }
}

@keyframes appear-down {
  0% {
    opacity: 0;
    margin-top: -1rem;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

@media screen and (min-width: 750px) {
  .footer-block__details-content > p,
  .footer-block__details-content > li {
    padding: 0;
  }

  .footer-block:only-child li {
    display: inline;
  }
}

.footer-block__details-content .list-menu__item--link {
  width: 100%;
  display: inline-block;
  text-align: center;
  color: currentColor;
  font-size: 1.8rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer-block__details-content .list-menu__item--active {
  transition: text-decoration-thickness var(--duration-short) ease;
  color: rgb(var(--color-foreground));
}

@media screen and (min-width: 750px) {
  .footer-block__details-content .list-menu__item--link:hover {
    color: rgb(var(--color-foreground));
    text-decoration: underline;
    text-underline-offset: 0.3rem;
  }

  .footer-block__details-content .list-menu__item--active:hover {
    text-decoration-thickness: 0.2rem;
  }
}

@media screen and (min-width: 1025px) {
  .footer-block__details-content .list-menu__item--link {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.policies {
  display: flex;
  justify-content: end;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.policies li {
  display: block;
  text-align: center;
  padding: 1rem;
}

.policies li a {
  display: block;
  text-decoration: none;
  color: currentColor;
  font-weight: 700;
}

@media screen and (min-width: 750px) {
  .policies li a:hover {
    color: rgb(var(--color-foreground));
    text-decoration: underline;
    text-underline-offset: 0.3rem;
  }
}

@media screen and (min-width: 1025px){
  .footer {
    display: grid;
    gap: 5rem 0;
    grid-template-columns: 194px 1fr 50px 400px 100px;
    grid-template-rows: auto 100px;
    padding: 0;
  }

  .footer--menus__mobile{
    display: none
  }

  .footer--menus__desktop{
    display: flex;
  }

  .footer--menus{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    justify-self: end;
    width: 100%;
  }

  .footer--newsletter{
    grid-column: 4 / 5;
    grid-row: 1 / 2;
  }

  .footer--social_networks{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin: 0;
    border-top: currentColor 1px solid;
  }

  .footer--social_networks > ul{
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .footer--social_networks > ul a{
    padding: 1.5rem 0;
  }

  .policies{
    grid-column: 3 / 5;
    grid-row: 2 / 3;
    justify-self: end;
    align-self: center;
    max-width: none;
  }
}

@keyframes animateLocalization {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(-1rem);
  }
}
